<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self';">
    <title>AM Movie and Game Group</title>
    <link rel="stylesheet" href="/static/css/base.css">
</head>

<body>
    <h1>AM: Movie and Game Group!</h1>
    
    <nav>
        <a href="/">Home</a>
        {% if 'user_id' in session %}
            <a href="/logout">Logout</a>
            <a href="/addreview">Add a review</a>
        {% else %}
            <a href="/login">Login</a>
            <a href="/signup">Sign up</a>
        {% endif %}
        <br>
    </nav>

    <h2>NEWEST RELEASES!</h2>

    <div class="container">
        <div class="image-text-wrapper">
            <br>
            <img src="static/images/moana2.jpg" alt="Moana journeys to the far seas of Oceania after receiving an unexpected call from her wayfinding ancestors." width="140" height="200">
            <p>Moana journeys to the far seas of Oceania after receiving an unexpected call from her wayfinding ancestors.</p>
        </div>
    </div>

</body>
</html>
