<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- #block cross-scripting from malicious users -->
    <meta http-equiv ="Content-Security-Policy" content=" script-src 'self';">

    <title> AM movie and game group </title>
    <link rel="stylesheet" href="/static/css/base.css" >
</head>

<body>
    <h1> AM: Movie and game group! </h1>
    <nav>
        <a href="/">Home</a>
        <a href ="/login">Login</a>
        <a href ="/signup">Sign up</a>
    </nav>
    
    <br>
    <h2>NEWEST RELEASES!</h2>

    <div class="container">
        <div class="left-column">
            <div class="image-text-wrapper">
                <br>
                <img src="static/images/moana2.jpg" alt="Moana journeys to the far seas of Oceania after receiving an unexpected call from her wayfinding ancestors." width="140" height="200">
                    <h5>Moana 2</h5>
                <p>Moana journeys to the far seas of Oceania after receiving an unexpected call from her wayfinding ancestors.</p>
            </div>
        
            <br>
            <div class="image-text-wrapper">
                <br>
                <img src="static/images/rednotice.jpg" alt="Moana journeys to the far seas of Oceania after receiving an unexpected call from her wayfinding ancestors." width="140" height="200">
                <h5>Red Notice</h5>
                <p>In the world of international crime, an Interpol agent attempts to hunt down and capture the world's most wanted art thief.</p>
            </div>
            <br>
            <div class="image-text-wrapper">
                <br>
                <img src="static/images/genshin.jpg" alt="Genshin Impact is an open-world RPG where players explore Teyvat, battle with elemental powers, and search for the Traveler's lost twin." width="140" height="200">
                <h5>Genshin Impact</h5>
                <p>Genshin Impact is an open-world RPG where players explore Teyvat, battle with elemental powers, and search for the Traveler's lost twin.</p>
            </div>

            <br>
            <div class="image-text-wrapper">
                <br>
                <img src="static/images/redsparrow.jpg" alt="**Red Sparrow** follows Dominika Egorova, a ballerina turned spy, as she navigates dangerous espionage and survival." width="140" height="200">
                <h5>Red Sparrow</h5>
                <p>Red Sparrow** follows Dominika Egorova, a ballerina turned spy, as she navigates dangerous espionage and survival.</p>
            </div>

            <br>
            <div class="image-text-wrapper">
                <br>
                <img src="static/images/inception.jpg" alt="Inception is a sci-fi thriller about a team entering dreams to plant an idea, blurring reality and imagination. Led by Dom Cobb, they face twists and dangers in layered dreamscapes. " width="140" height="200">
                <h5>Inception</h5>
                <p>Inception is a sci-fi thriller about a team entering dreams to plant an idea, blurring reality and imagination. Led by Dom Cobb, they face twists and dangers in layered dreamscapes.</p>
            </div>

            <br>
            <div class="image-text-wrapper">
                <br>
                <img src="static/images/minecraft.jpg" alt="Minecraft is a 3D sandbox adventure game where players can interact with a fully customizable three-dimensional world made of blocks and entities " width="140" height="200">
                <h5>Minecraft</h5>
                <p>Minecraft is a 3D sandbox adventure game where players can interact with a fully customizable three-dimensional world made of blocks and entities</p>
            </div>

        </div>

        <div class="right-column">

            <div class="image-text-wrapper">
                <br>
                <img src="static/images/spiderman.png" alt="Meet an experienced Peter Parker who's more masterful at fighting big crime in New York City. At the same time, he's struggling to balance his chaotic personal life and career while the fate of Marvel's New York rests upon his shoulders." width="140" height="200">
                <h5>Spider-Man Remastered</h5>
                <p>Meet an experienced Peter Parker who's more masterful at fighting big crime in New York City. At the same time, he's struggling to balance his chaotic personal life and career while the fate of Marvel's New York rests upon his shoulders.</p>
            </div>
            <br>
            <div class="image-text-wrapper">
                <br>
                <img src="static/images/enola.jpg" alt="While searching for her missing mother, intrepid teen Enola Holmes uses her sleuthing skills to outsmart big brother Sherlock and help a runaway lord." width="140" height="200">
                    <h5>Enola Holmes</h5>
                <p>While searching for her missing mother, intrepid teen Enola Holmes uses her sleuthing skills to outsmart big brother Sherlock and help a runaway lord.</p>
            </div>
            <br>
            <div class="image-text-wrapper">
                <br>
                <img src="static/images/elden.png" alt="Players explore the Lands Between to restore the shattered Elden Ring and become the Elden Lord. It features challenging combat, rich lore, and a vast, interconnected world." width="140" height="200">
                    <h5>Elden ring</h5>
                <p>Players explore the Lands Between to restore the shattered Elden Ring and become the Elden Lord. It features challenging combat, rich lore, and a vast, interconnected world.</p>
            </div>

            <br>
            <div class="image-text-wrapper">
                <br>
                <img src="static/images/rivals.jpg" alt="Assemble an all-star Marvel squad, devise countless strategies by combining powers to form unique Team-Up skills and fight in destructible, ever-changing battlefields across the continually evolving Marvel universe!" width="140" height="200">
                    <h5>Marvel Rivals</h5>
                <p>Assemble an all-star Marvel squad, devise countless strategies by combining powers to form unique Team-Up skills and fight in destructible, ever-changing battlefields across the continually evolving Marvel universe!</p>
            </div>
            <br>
            <div class="image-text-wrapper">
                <br>
                <img src="static/images/hp.jpeg" alt="A mysterious elf tells Harry to expect trouble during his second year at Hogwarts, but nothing can prepare him for trees that fight back, flying cars, spiders that talk and deadly warnings written in blood on the walls of the school." width="140" height="200">
                    <h5>Harry Potter and the chamber of secrets</h5>
                <p>A mysterious elf tells Harry to expect trouble during his second year at Hogwarts, but nothing can prepare him for trees that fight back, flying cars, spiders that talk and deadly warnings written in blood on the walls of the school.</p>
            </div>
            <br>
            <div class="image-text-wrapper">
                <br>
                <img src="static/images/palworld.jpg" alt="The game is set in an open world populated with animal-like creatures called 'Pals', which players can battle and capture to use for base building, traversal, and combat." width="140" height="200">
                    <h5>Palworld</h5>
                <p>The game is set in an open world populated with animal-like creatures called "Pals", which players can battle and capture to use for base building, traversal, and combat.
                </p>
            </div>

        </div>





    </div>

</body>
</html>
