<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AM-Log in</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styled.css">
    <script src="https://kit.fontawesome.com/424174ca0f.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
  <div class="form-box">
    <h1 id="title">Log-in</h1>
    <form action="/login" method="POST">
      <div class="input-group" id="nameField">

        <div class="input-field">
          <i class="fa-solid fa-envelope"></i>
          <input type="email" placeholder="Email" name="email" id="email" required>
        </div>

        <div class="input-field">
          <i class="fa-solid fa-lock"></i>
          <input type="password" placeholder="Password" name="password" id="password" required>
        </div>

      </div>
      <div class="btn-field">
        <button type="submit" >Log in</button>
        <p>Don't have an account?
          <a href="/signup" id="signup-link">Sign-up</a>
        </p>
      </div>
    </form>
  </div>
</div>
</body>
</html>
