<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- #block cross-scripting from malicious users -->
    <meta http-equiv ="Content-Security-Policy" content=" script-src 'self';">
    
    <title> Add review</title>
    <link rel="stylesheet" href="/static/css/styled.css">
</head>

<body>
    <nav>
        <a href="/homepage">Home</a>
        <!--- <a href ="/login">Login</a> -->
        <!--  <a href ="/signup">Sign up</a> -->
        <a href ="/logout">Logout</a>
        <br>
    </nav>

    <body>
        <div class="container">
          <div class="form-box">
            <h1 id="title">Add a review</h1>
            <form action="/addreview" method="POST">
              <div class="input-group" id="nameField">
        
                <div class="movie">
                  <i class="fa-solid fa-tv"></i>
                  <label for="movie">Choose a movie:</label>
                  <select name="movie" id="movie">
                    <option value="Moana 2">Moana 2</option>
                    <option value="Genshin Impact">Genshin Impact</option>
                    <option value="Spider-man Remastered">Spider-man Remastered</option>
                    <option value="Inception">Inception</option>
                    <option value="Red Notice">Red Notice</option>
                    <option value="Enola Holmes">Enola Holmes</option>
                    <option value="Harry Potter and the chamber of secrets">Harry potter and the chamber of secrets</option>
                    <option value="Marvel Rivals">Marvel Rivals</option>
                    <option value="Palworld">Palworld</option>
                    <option value="Eldenring">Elden Ring</option>
                    <option value="Minecraft">Minecraft</option>
                  </select>
                  <!--t type="text" placeholder="Movie Name" name="movie" id="movie" required>-->
                </div>
              


                <div class="title">
                  <i class="fa-solid far-book"></i>
                  <input type="text" placeholder="Review title" name="title" id="title" required> </input>
                </div>

                <label for="rating">Rating (out of 5):</label><br>
                <input type="number" id="rating" name="rating" min="1" max="5" step="1" required>
                <small>Enter a whole number between 1 and 5.</small><br><br>
                
                <div class="review">
                  <i class="fa-solid fa-book"></i>
                  <textarea type="text" placeholder="Your review" name="review" id="review" required> </textarea>
                </div>
        
              </div>
              <div class="btn-field">
                <button type="submit" >Add review</button>
              </div>
            </form>
          </div>
        </div>
        </body>
        </html>