<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Reviews</title>
    <link rel="stylesheet" href="/static/css/base.css">
</head>

<h2>All Reviews</h2>
<nav>
    <a href="/homepage">Home</a>
</nav>
{% if reviews %}
    <div class="reviews-list">
    {% for movie, title, created_at, review, rating, name in reviews %}
        <div class="review-item"></div>
            <h3>{{ movie }} - {{ title }}</h3>
            <p><stron>User:</stron> {{name}} </p>
            <p><strong>Review:</strong> {{ review }}</p>
            <p><strong>Rating:</strong> {{ rating }}/5</p>
            <p><strong>Date:</strong>{{created_at}}</p>
        </div>
        <hr>
    {% endfor %}
    </div>
{% endif %}
